<%- include ('./partials/header.ejs') %>

  <body>
    <%- include ('./partials/navbar.ejs') %>
      
    <div class="container">

      <h2>Perguntar</h2>
      <p><a href="/perguntar" class="btn btn-primary">Perguntar</a></p>
      <hr>

      <% perguntas.forEach(pergunta => { %>
        <div class="card" style="margin-bottom: 40px;">
          <div class="card-body">

            <h4><%= pergunta.titulo %></h4>

            <!-- <%= pergunta.descricao %> -->
          </div>
          <div class="card-footer">
            <a href="/pergunta/<%= pergunta.id %>" class="btn btn-primary">Responder</a>
          </div>
        </div>
        
        
      <% }) %>
      
      
    </div>

  </body>
  <%- include ('./partials/footer.ejs') %>