<%- include ('./partials/header.ejs') %>

  <body>
    <%- include ('./partials/navbar.ejs') %>

      <div class="container">
        <div class="card">
          <div class="card-header">
            <h3><%= pergunta.titulo %></h3>
          </div>
          <div class="card-body">
            <p><%= pergunta.descricao %></p>
          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-primary">Responder</button>
          </div>
        </div>

      </div><!-- fecha container -->

  </body>

  <%- include ('./partials/footer.ejs') %>