<%- include ('./partials/header.ejs') %>

  <body>
    <%- include ('./partials/navbar.ejs') %>

      <div class="container">
        <div class="card">
          <div class="card-header">
            <h3><%= pergunta.titulo %></h3>
          </div>
          <div class="card-body">
            <p><%= pergunta.descricao %></p>
          </div>
          <!-- <div class="card-footer">
            <button type="submit" class="btn btn-primary">Responder</button>
          </div> -->
        </div>
        <div class="row">
          <div class="col-md-12" style="margin-top: 20px;"><strong>Respostas</strong></div>
          
          <% respostas.forEach(resposta => { %>
            <div class="col-md-12">
              <%= resposta.corpo %>
            </div>
          <% }) %>
        </div>
        <form action="/saveresp" method="post">
          <input type="hidden" name="pergunta" value="<%= pergunta.id %>">
          <h4 style="margin: 20px 0;">Responda</h4>
          <label for="corpo">Resposta:</label>
          <textarea name="corpo" id="corpo" cols="30" rows="10" class="form-control" placeholder="Digite sua resposta" style="margin-bottom: 20px;"></textarea>
          <button type="submit" class="btn btn-primary">Responder</button>
        </form>
      </div><!-- fecha container -->

  </body>

  <%- include ('./partials/footer.ejs') %>